@import './colors.scss';

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
}

input[type="password"],
input[type="text"],
input[type="email"] {
    border: none;
    outline: none;
}

button {
    background-color: $primary;
    color: $white;
    border-radius: 8px;
    font-size:  16px;
    line-height: 50px;
    border: none;

    &:hover {
        opacity: 0.9;
    }
    
    &:disabled {
        background-color: $disebledBackground;
        color: $disebledColor;

        &:hover {
            opacity: 1;
        }
    }
}